@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Righteous&display=swap');

body {
    padding: 0;
    margin: 0;
    font: normal normal bold 17px/23px Open Sans;
}

p {
    font-size: 15px;
}

nav {
    background-color: #45D41C;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

nav div a {
    font-size: 25px;
    margin-left: 10px;
    font-family: frunch;
    color: #01000D;
    cursor: pointer;
    text-decoration: none;
}

nav ul {
    display: flex;
}

nav li {
    padding: 10px;
    list-style: none;
    font-size: 18px;
}

nav li a {
    color: #01000D;
    text-decoration: none;
}

nav li a:hover {
    color: white;
}

.main_section {
    padding: 5%;
    margin-bottom: 30px;
    text-align: center;
    font-family: frunch;
}
.main_section h1 {
    margin-top: 10px;
}
.products {
    background-image: url("../assets/curva.png");
    background-size: cover;
    background-position: center top;
    padding: 15%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.product {
    padding: 10px;
    margin-top: -240px;
    width: 250px;
    height: 350px;
    font-size: 15px;
}
.product .content {
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 3px #948b8b;
}
.product .content {
    font: normal normal bold 17px/23px Open Sans;
}
.image_content {
    text-align: center;
    height: 180px;
}

.main_button {
    background-color: #45D41C;
    width: 100%;
    height: 40px;
    padding: 5px;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.main_button:hover {
    background-color: #39ad18;
}

.inf_section {
    display: flex;
    justify-content: space-around;
    padding: 10%;
}
.inf_container {
    margin: 10px;
    width: 250px;
    height: 200px;
    text-align: center;
}
.inf__image--container img {
    height: 120px;
    width: 120px;
    transition: 0.2s;
}
.inf_container img:hover {
    height: 140px;
    width: 140px;
    cursor: pointer;
}

.mention_title {
    text-align: center;
}
.mention_section {
    display: flex;
    justify-content: space-around;
    padding: 5%;
}
.mention_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    padding: 8px;
    background-color: rgb(240, 235, 235);
    box-shadow: 0 0 3px #948b8b;
}
.mention__image-container img {
    height: 200px;
    width: 250px;
    object-fit: cover;
}

/* CSS PRODUCTO HTML */

.product_cat img {
    width: 230px;
    height: 230px;
    opacity: 1;
}

.producto_info {
    width: 500px;
    height: 150px;
    margin: auto;
}
.producto_info h2 {
    width: 125px;
    height: 25px;
}
.producto_info p {
    width: 450px;
    height: 50px;
}

/* END CSS PRODUCTO */

/* CSS VENTA HTML */
.container_modulo {
    display: flex;
    margin: 0;
}

.modulo_pago {
    background-color: white;
    box-shadow: 0 0 3px #948b8b;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 80px;
}
.modulo_pago_img {
    text-align: center;
    max-width: 150px;
    margin: auto;
}

.data {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 35px;
    border: 1px solid rgb(22, 22, 22);
    outline: none;
    box-sizing: border-box;
}

.main_button {
    background-color: #45D41C;
    width: 100%;
    height: 40px;
    padding: 5px;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.main_button:hover {
    background-color: #39ad18;
}

/* END CSS VENTA */

.footer {
    height: 5px;
    margin-top: auto;
}
.footer__menu {
    display: flex;
    justify-content: space-around;
    background-color: #01000D;
    color: white;
}
.footer__menu-item {
    list-style: none;
    line-height: 4rem;
    text-align: center;
}
.footer__menu-item a {
    text-decoration: none;
    color: white;
}
.footer__menu-item:hover {
    text-decoration: underline;
    cursor: pointer;
}
