<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/grid.css">
    <link rel="stylesheet" href="../css/animation.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/mobile.css">
    <title>Producto</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="fadeInDown">
        <div class="logo_image">
            <a href="../index.html">Cat Box</a>
        </div>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="">Faqs</a></li>
        </ul>
    </nav>
    <!-- End navbar -->
    <div class="container">
        <h1>Productos y descripción</h1>
        <div class="row">
            <div class="col-8 product_cat">
                <img src="../assets/gato_caja.png" alt="gato_negro">
            </div>
            <div class="col-4 producto_info">
                <h2>Producto 1</h2>
                <p>Edición especial de gatito color negro en su caja con una expresión seria en su rostro</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 producto_info">
                <h2>Producto 2</h2>
                <p>Gatito color cafe y crema sin su caja de expresión común</p>
            </div>
            <div class="col-8 product_cat">
                <img src="../assets/gato_flaco.png" alt="gato_flaco">
            </div>
        </div>
        <div class="row">
            <div class="col-8 product_cat">
                <img src="../assets/gato_gordo.png" alt="gato_gordo">
            </div>
            <div class="col-4 producto_info">
                <h2>Producto 3</h2>
                <p>Gatito color azul gordito sin caja, solo solin solito, alone lonely</p>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <ul class="footer__menu">
            <li class="footer__menu-item"><a href="terms.html">Términos de uso</a></li>
            <li class="footer__menu-item">aaronmercadohurtado@gmail.com</li>
        </ul>
    </footer>
    <!-- Footer -->
</body>
</html>