<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/grid.css">
    <link rel="stylesheet" href="../css/animation.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/mobile.css">
    <title>Venta</title>
</head>
<body>
    <!-- Header -->
    <nav class="fadeInDown">
        <div class="logo_image">
            <a href="../index.html">Cat Box</a>
        </div>
        <ul>
            <li><a href="">Faqs</a></li>
            <li><a href="producto.html">Producto y descripción</a></li>
        </ul>
    </nav>
    <!-- End header -->
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="modulo_pago">
                    <div class="modulo_pago_img">
                        <img src="../assets/cat_box_1.png" alt="">
                    </div>
                    <h3>Producto n</h3>
                    <p>Descripción del producto seleccionado todo traido con javascript amigo mio</p>
                </div>
            </div>
            <div class="col-8">
                <div class="modulo_pago">
                    <form action="">
                        <label for="name">Nombre</label>
                        <br>
                        <input type="text" id="name" class="data">
                        <br>
                        <label for="email">Correo</label>
                        <br>
                        <input type="email" id="email" class="data">
                        <br>
                        <label for="phone">Telefono</label>
                        <br>
                        <input type="phone" id="phone" class="data">
                        <br>
                        <button class="main_button" id="submit">Realizar pago</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <ul class="footer__menu">
            <li class="footer__menu-item"><a href="terms.html">Términos de uso</a></li>
            <li class="footer__menu-item">aaronmercadohurtado@gmail.com</li>
        </ul>
    </footer>
    <!-- Footer -->
</body>
</html>